In [36]:
import json
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import glob
from datetime import datetime

In [37]:
df = pd.DataFrame()
for files in glob.glob("./data/*.csv"):
    print ('Concatenating...', files)
    df = pd.concat([df,pd.read_csv(files).iloc[:,:]],axis=0,ignore_index=True)
print ('Datasets are now concatenated into one dataframe.')
# Drop first column of dataframe
# df.reset_index(drop=True, inplace=True)

Concatenating... ./data\resale-flat-prices-based-on-approval-date-1990-1999.csv
Concatenating... ./data\resale-flat-prices-based-on-approval-date-2000-feb-2012.csv
Concatenating... ./data\resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv
Concatenating... ./data\resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv
Concatenating... ./data\resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv
Datasets are now concatenated into one dataframe.

In [38]:
df.shape

(880072, 11)

In [39]:
df.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
remaining_lease         object
dtype: object

In [40]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN

The following column datatypes need to be handled: 
| 'floor_area_sqm' 'resale_price'  'block_num' | to numeric |
| 'month'| to date|

In [41]:

df['block_num'] = df['block'].apply(lambda x: re.findall('\A\d+',x)[0])

In [42]:
# convert numeric columns
for x in ['floor_area_sqm','resale_price', 'block_num']:
    df[x] = pd.to_numeric(df[x])

In [43]:
# change to time format for date columns
df['month'] = pd.to_datetime(df['month'])

In [44]:
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,block_num
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,309
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,309
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,309
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,309
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,216
...,...,...,...,...,...,...,...,...,...,...,...,...
880067,2014-12-01,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0,NaN,816
880068,2014-12-01,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0,NaN,325
880069,2014-12-01,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0,NaN,618
880070,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0,NaN,277
880071,2014-12-01,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0,NaN,277

In [46]:
# focus on flat_type, flat_model which have redundant titles
def labeler(feat):
    temp = []
    for value in df[feat].unique():
        if value != ' '.join(re.findall( r'\w+', value.upper())):
                df[feat].replace(value,' '.join(re.findall( r'\w+', value.upper())),inplace=True)

In [47]:
for feat in ['flat_type', 'flat_model']:
    labeler(feat)

In [49]:
df['address'] = df['block'] + ' ' + df['street_name'] + ' '+ 'SINGAPORE'
# Get number of unique full addresses
full_address_list = df["address"].unique().tolist()
print(len(full_address_list),full_address_list[1])

9597 216 ANG MO KIO AVE 1 SINGAPORE

In [50]:
df.to_csv('con-1990-2017.csv',index=False)

In [21]:
from geopy.distance import geodesic, great_circle
from geopy.geocoders import GoogleV3
from geopy.geocoders import Nominatim

In [16]:
geolocator = Nominatim(user_agent="GoogleV3")

address = []
full_address = []
latitude = []
longitude = []
no_result = []

for row in range(len(full_address_list)):
    #formulate query string 
    try:
        add, (lat, lon) = geolocator.geocode(full_address_list[row])
        address.append(full_address_list[row])
        full_address.append(add)
        latitude.append(lat)
        longitude.append(lon)
    except:
        no_result.append(full_address_list[row])

df_coordinates  = pd.DataFrame({
    'address': address,
    'full_address': full_address,
    'Latitude': latitude,
    'Longitude': longitude
})

In [18]:
len(df_coordinates)

8410

In [19]:
df_coordinates.to_csv('./locations/hdb_location.csv',index=False)

In [66]:
with open('data//mrt.txt', 'r') as file:
    mrt_list = file.read()

In [67]:
mrt_list=mrt_list.split('\n')

In [68]:
# use the OneMap API to obtain the (lat, long) coordinates of each MRT station.
mrt_building = []
mrt_lat = []
mrt_long = []

for mrt in mrt_list:
    query_address = mrt
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)

    data_mrt=json.loads(resp.content)
    
    if data_mrt['found'] != 0:
        mrt_building.append(data_mrt["results"][0]["BUILDING"])
        mrt_lat.append(data_mrt["results"][0]["LATITUDE"])
        mrt_long.append(data_mrt["results"][0]["LONGITUDE"])

        print (str(query_address)+",Lat: "+data_mrt['results'][0]['LATITUDE'] +" Long: "+data_mrt['results'][0]['LONGITUDE'])

    else:
        mrt_building.append('NotFound')
        mrt_lat.append('NotFound')
        mrt_long.append('NotFound')
        print ("No Results")

# Store this information in a dataframe
mrt_location = pd.DataFrame({
    'MRT': mrt_list,
    'Building': mrt_building,
    'Latitude': mrt_lat,
    'Longitude': mrt_long
})

Jurong East MRT Station,Lat: 1.33315281585758 Long: 103.742286332403
Bukit Batok MRT Station,Lat: 1.34903331201636 Long: 103.749566478309
Bukit Gombak MRT Station,Lat: 1.35861159094192 Long: 103.751790910733
Choa Chu Kang MRT Station,Lat: 1.38536316540225 Long: 103.744370779756
Yew Tee MRT Station,Lat: 1.39753506936297 Long: 103.747405150236
Kranji MRT Station,Lat: 1.42508698073648 Long: 103.762137459497
Marsiling MRT Station,Lat: 1.43252114855026 Long: 103.774074641403
Woodlands MRT Station,Lat: 1.43605761708128 Long: 103.787938777173
Admiralty MRT Station,Lat: 1.44058856161847 Long: 103.800990519771
Sembawang MRT Station,Lat: 1.44905082158502 Long: 103.820046140211
Canberra MRT Station,Lat: 1.44307664075699 Long: 103.829702590959
Yishun MRT Station,Lat: 1.42944308477331 Long: 103.835005047246
Khatib MRT Station,Lat: 1.41738337009565 Long: 103.832979908243
Yio Chu Kang MRT Station,Lat: 1.38175587099132 Long: 103.84494727118
Ang Mo Kio MRT Station,Lat: 1.36993284962264 Long: 103.849558091776
Bishan MRT Station,Lat: 1.35131580146658 Long: 103.84914026532
Braddell MRT Station,Lat: 1.3404690010277 Long: 103.846799083148
Toa Payoh MRT Station,Lat: 1.33262928096888 Long: 103.847502198048
Novena MRT Station,Lat: 1.32044079120154 Long: 103.843825618748
Newton MRT Station,Lat: 1.3123189224097 Long: 103.837984594021
Orchard MRT Station,Lat: 1.30242224836722 Long: 103.823868523249
Somerset MRT Station,Lat: 1.30026416739006 Long: 103.839085753124
Dhoby Ghaut MRT Station,Lat: 1.29891164362677 Long: 103.84629250696
City Hall MRT Station,Lat: 1.29298990700923 Long: 103.852542630339
Raffles Place MRT Station,Lat: 1.28393326234538 Long: 103.851463066212
Marina Bay MRT Station,Lat: 1.27631114381584 Long: 103.854604975361
Marina South Pier MRT Station,Lat: 1.27102703612006 Long: 103.862447515736
Pasir Ris MRT Station,Lat: 1.37304331635804 Long: 103.949284527763
Tampines MRT Station,Lat: 1.34551530560119 Long: 103.938436971222
Simei MRT Station,Lat: 1.34319707851829 Long: 103.953377214378
Tanah Merah MRT Station,Lat: 1.32718729074675 Long: 103.946348600798
Bedok MRT Station,Lat: 1.32040148729112 Long: 103.957183823478
Kembangan MRT Station,Lat: 1.3210381335934 Long: 103.912947930851
Eunos MRT Station,Lat: 1.31978354916088 Long: 103.903225807255
Paya Lebar MRT Station,Lat: 1.3172473854035 Long: 103.892260753884
Aljunied MRT Station,Lat: 1.3164326118157 Long: 103.882906044385
Kallang MRT Station,Lat: 1.31148890998818 Long: 103.871386541754
Lavender MRT Station,Lat: 1.30737781747063 Long: 103.862767633888
Bugis MRT Station,Lat: 1.30046508509717 Long: 103.855706730933
Tanjong Pagar MRT Station,Lat: 1.27656131737246 Long: 103.845725186759
Outram Park MRT Station,Lat: 1.2802415328084 Long: 103.840052100136
Tiong Bahru MRT Station,Lat: 1.28619457890544 Long: 103.826998939732
Redhill MRT Station,Lat: 1.28963453412887 Long: 103.81674097205
Queenstown MRT Station,Lat: 1.29455085184931 Long: 103.806077155982
Commonwealth MRT Station,Lat: 1.30250199924325 Long: 103.798228523336
Buona Vista MRT Station,Lat: 1.30627534823257 Long: 103.790363200126
Dover MRT Station,Lat: 1.31140529320963 Long: 103.778637841909
Clementi MRT Station,Lat: 1.31511625277378 Long: 103.765191452888
Chinese Garden MRT Station,Lat: 1.34235282081401 Long: 103.732596738363
Lakeside MRT Station,Lat: 1.34425911493819 Long: 103.720949087456
Boon Lay MRT Station,Lat: 1.33860405469845 Long: 103.706064622772
Pioneer MRT Station,Lat: 1.33758701106708 Long: 103.697321608474
Joo Koon MRT Station,Lat: 1.3277170408447 Long: 103.678374996165
Gul Circle MRT Station,Lat: 1.31947090075208 Long: 103.660530461345
Tuas Crescent MRT Station,Lat: 1.32102695598684 Long: 103.649078235627
Tuas West Road MRT Station,Lat: 1.32998504653102 Long: 103.639616648771
Tuas Link MRT Station,Lat: 1.34088242451105 Long: 103.636991425128
Expo MRT Station,Lat: 1.33538252614956 Long: 103.962374747451
Changi Airport MRT Station,Lat: 1.35747897447692 Long: 103.98788356959
HarbourFront MRT Station,Lat: 1.26538938374901 Long: 103.821530157095
Chinatown MRT Station,Lat: 1.28422391919085 Long: 103.845143798953
Clarke Quay MRT Station,Lat: 1.28745211415803 Long: 103.846119192727
Little India MRT Station,Lat: 1.30724381608438 Long: 103.849841614124
Farrer Park MRT Station,Lat: 1.31314029963164 Long: 103.854754721344
Boon Keng MRT Station,Lat: 1.31993957653291 Long: 103.862052698446
Potong Pasir MRT Station,Lat: 1.33137808528793 Long: 103.869363547741
Woodleigh MRT Station,Lat: 1.33919004519388 Long: 103.87081830915
Serangoon MRT Station,Lat: 1.35063361526525 Long: 103.872771660431
Kovan MRT Station,Lat: 1.36017917065237 Long: 103.885064856353
Hougang MRT Station,Lat: 1.37129226620797 Long: 103.892380513029
Buangkok MRT Station,Lat: 1.38287001971672 Long: 103.893122569706
Sengkang MRT Station,Lat: 1.39169462601522 Long: 103.895484694279
Punggol MRT Station,Lat: 1.41492733388605 Long: 103.910166388177
Bras Basah MRT Station,Lat: 1.29686168649656 Long: 103.850667371637
Esplanade MRT Station,Lat: 1.2936577245386 Long: 103.855081226245
Promenade MRT Station,Lat: 1.29399798636232 Long: 103.860350000188
Nicoll Highway MRT Station,Lat: 1.29976684675139 Long: 103.86363696572
Stadium MRT Station,Lat: 1.3028124684707 Long: 103.875337711089
Mountbatten MRT Station,Lat: 1.30620190525331 Long: 103.882528081052
Dakota MRT Station,Lat: 1.30854798388121 Long: 103.889064718377
MacPherson MRT Station,Lat: 1.32615024457361 Long: 103.889298600376
Tai Seng MRT Station,Lat: 1.33514150139202 Long: 103.888389300191
Bartley MRT Station,Lat: 1.34250117805245 Long: 103.880177899184
Lorong Chuan MRT Station,Lat: 1.35153128621585 Long: 103.864812169514
Marymount MRT Station,Lat: 1.348707263451 Long: 103.839423132332
Caldecott MRT Station,Lat: 1.33724561271722 Long: 103.840161782075
Botanic Gardens MRT Station,Lat: 1.32238699517166 Long: 103.815385463093
Farrer Road MRT Station,Lat: 1.31743915158967 Long: 103.807379214161
Holland Village MRT Station,Lat: 1.31224029631595 Long: 103.796399122407
one-north MRT Station,Lat: 1.29975987493555 Long: 103.78745750525
Kent Ridge MRT Station,Lat: 1.29353349887123 Long: 103.784572738173
Haw Par Villa MRT Station,Lat: 1.28195688684898 Long: 103.781988990137
Pasir Panjang MRT Station,Lat: 1.27621352233766 Long: 103.791350313288
Labrador Park MRT Station,Lat: 1.27236838626952 Long: 103.803416232089
Telok Blangah MRT Station,Lat: 1.27070647717762 Long: 103.809761611219
Bayfront MRT Station,Lat: 1.28187378879209 Long: 103.859079764874
Bukit Panjang MRT Station,Lat: 1.37956121236613 Long: 103.761188866252
Cashew MRT Station,Lat: 1.36981544925552 Long: 103.76443921414
Hillview MRT Station,Lat: 1.36234486803558 Long: 103.767418254007
Beauty World MRT Station,Lat: 1.34090149001429 Long: 103.775746717778
King Albert Park MRT Station,Lat: 1.335893496278 Long: 103.783235863233
Sixth Avenue MRT Station,Lat: 1.33085764536226 Long: 103.796906838288
Tan Kah Kee MRT Station,Lat: 1.32639224146351 Long: 103.806548201692
Stevens MRT Station,Lat: 1.32006555750626 Long: 103.826024401924
Rochor MRT Station,Lat: 1.30385218527656 Long: 103.852769428884
Downtown MRT Station,Lat: 1.27944638178916 Long: 103.852840829581
Telok Ayer MRT Station,Lat: 1.28206894769394 Long: 103.848648781083
Fort Canning MRT Station,Lat: 1.29248194822996 Long: 103.844331362465
Bencoolen MRT Station,Lat: 1.29891843369422 Long: 103.850353762717
Jalan Besar MRT Station,Lat: 1.3051713878069 Long: 103.855295713435
Bendemeer MRT Station,Lat: 1.31367252847691 Long: 103.862977620945
Geylang Bahru MRT Station,Lat: 1.32130110228321 Long: 103.871622627142
Mattar MRT Station,Lat: 1.32687671501334 Long: 103.883247509542
Ubi MRT Station,Lat: 1.32997425973974 Long: 103.899226655439
Kaki Bukit MRT Station,Lat: 1.33496735995428 Long: 103.908459338046
Bedok North MRT Station,Lat: 1.33474211664091 Long: 103.91797832995
Bedok Reservoir MRT Station,Lat: 1.33660782955099 Long: 103.932234623286
Tampines West MRT Station,Lat: 1.34551530560119 Long: 103.938436971222
Tampines East MRT Station,Lat: 1.35619148271544 Long: 103.9546344625
Upper Changi MRT Station,Lat: 1.34173977444995 Long: 103.961472788634

In [69]:
mrt_location

,MRT,Building,Latitude,Longitude
0,Jurong East MRT Station,JURONG EAST MRT STATION (EW24 / NS1),1.33315281585758,103.742286332403
1,Bukit Batok MRT Station,BUKIT BATOK MRT STATION (NS2),1.34903331201636,103.749566478309
2,Bukit Gombak MRT Station,BUKIT GOMBAK MRT STATION (NS3),1.35861159094192,103.751790910733
3,Choa Chu Kang MRT Station,CHOA CHU KANG MRT STATION (NS4),1.38536316540225,103.744370779756
4,Yew Tee MRT Station,YEW TEE MRT STATION (NS5),1.39753506936297,103.747405150236
...,...,...,...,...
115,Bedok North MRT Station,BEDOK NORTH MRT STATION (DT29),1.33474211664091,103.91797832995
116,Bedok Reservoir MRT Station,BEDOK RESERVOIR MRT STATION (DT30),1.33660782955099,103.932234623286
117,Tampines West MRT Station,TAMPINES WEST MRT STATION (DT31),1.34551530560119,103.938436971222
118,Tampines East MRT Station,TAMPINES EAST MRT STATION (DT33),1.35619148271544,103.9546344625
119,Upper Changi MRT Station,UPPER CHANGI MRT STATION (DT34),1.34173977444995,103.961472788634

In [70]:
mrt_location.to_csv('./locations/mrt_location.csv',index=False)

In [51]:
# read all the data needed
mrt_location = pd.read_csv('./locations/mrt_location.csv')

# compile multiple location data to one dataframe
df_coordinates = pd.read_csv('./locations/hdb_location.csv')

In [52]:
df_coordinates

,address,full_address,Latitude,Longitude
0,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076
1,216 ANG MO KIO AVE 1 SINGAPORE,"216, Ang Mo Kio Avenue 1, Ang Mo Kio Grove, An...",1.366209,103.841476
2,211 ANG MO KIO AVE 3 SINGAPORE,"211, Ang Mo Kio Avenue 3, Kebun Baru, Ang Mo K...",1.369205,103.841719
3,202 ANG MO KIO AVE 3 SINGAPORE,"202, Ang Mo Kio Avenue 3, Ang Mo Kio View, Ang...",1.368461,103.844515
4,235 ANG MO KIO AVE 3 SINGAPORE,"Ang Mo Kio Avenue 3, Kebun Baru, Ang Mo Kio, S...",1.367302,103.835923
...,...,...,...,...
8405,573A WOODLANDS DR 16 SINGAPORE,"573A, Woodlands Drive 16, Woodlands, Singapore...",1.431327,103.798284
8406,693A WOODLANDS AVE 6 SINGAPORE,"Woodlands Avenue 6, Woodlands, Northwest, 7390...",1.433234,103.801529
8407,691A WOODLANDS DR 73 SINGAPORE,"691A, Woodlands Drive 73, Woodlands, Northwest...",1.440301,103.806676
8408,783A WOODLANDS RISE SINGAPORE,"783A, Woodlands Rise, Woodlands Pasture I, Woo...",1.447460,103.804047
8409,516 WEST COAST RD SINGAPORE,"West Coast Pride, 516, West Coast Road, Clemen...",1.308104,103.760431

In [53]:
address =[]
d_mrt = []
n_mrt = []

for add,lat,lon in zip(df_coordinates.address,df_coordinates.Latitude,df_coordinates.Longitude):
    d_to_mrt = 99
    temp = 0
    
    #loop for MRT and Mall to find the shortestdistance to address
    for mrt,mrt_lat,mrt_lon in zip(mrt_location.Building, mrt_location.Latitude, mrt_location.Longitude):
        temp = great_circle((lat, lon), (mrt_lat, mrt_lon)).km
        if d_to_mrt > temp:
            d_to_mrt = temp
            n_to_mrt = mrt
   
    
    address.append(add)
    d_mrt.append(d_to_mrt)
    n_mrt.append(n_to_mrt)

    
df_coordinates['dist_mrt'] = d_mrt
df_coordinates['near_mrt'] = n_mrt

In [54]:
df_coordinates

,address,full_address,Latitude,Longitude,dist_mrt,near_mrt
0,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076,1.027186,ANG MO KIO MRT STATION
1,216 ANG MO KIO AVE 1 SINGAPORE,"216, Ang Mo Kio Avenue 1, Ang Mo Kio Grove, An...",1.366209,103.841476,0.989224,ANG MO KIO MRT STATION
2,211 ANG MO KIO AVE 3 SINGAPORE,"211, Ang Mo Kio Avenue 3, Kebun Baru, Ang Mo K...",1.369205,103.841719,0.875147,ANG MO KIO MRT STATION
3,202 ANG MO KIO AVE 3 SINGAPORE,"202, Ang Mo Kio Avenue 3, Ang Mo Kio View, Ang...",1.368461,103.844515,0.583952,ANG MO KIO MRT STATION
4,235 ANG MO KIO AVE 3 SINGAPORE,"Ang Mo Kio Avenue 3, Kebun Baru, Ang Mo Kio, S...",1.367302,103.835923,1.543686,ANG MO KIO MRT STATION
...,...,...,...,...,...,...
8405,573A WOODLANDS DR 16 SINGAPORE,"573A, Woodlands Drive 16, Woodlands, Singapore...",1.431327,103.798284,1.072885,ADMIRALTY MRT STATION (NS10)
8406,693A WOODLANDS AVE 6 SINGAPORE,"Woodlands Avenue 6, Woodlands, Northwest, 7390...",1.433234,103.801529,0.819941,ADMIRALTY MRT STATION (NS10)
8407,691A WOODLANDS DR 73 SINGAPORE,"691A, Woodlands Drive 73, Woodlands, Northwest...",1.440301,103.806676,0.632860,ADMIRALTY MRT STATION (NS10)
8408,783A WOODLANDS RISE SINGAPORE,"783A, Woodlands Rise, Woodlands Pasture I, Woo...",1.447460,103.804047,0.836188,ADMIRALTY MRT STATION (NS10)
8409,516 WEST COAST RD SINGAPORE,"West Coast Pride, 516, West Coast Road, Clemen...",1.308104,103.760431,0.942384,CLEMENTI MRT STATION (EW23)

In [55]:
df_coordinates.to_csv('./locations/hdb_location_dist.csv',index=False)

In [56]:
df = pd.read_csv('con-1990-2017.csv')

d:\Program Files\Python\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [57]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,block_num,address
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,216,216 ANG MO KIO AVE 1 SINGAPORE

In [59]:
df_coordinates=df_coordinates.drop_duplicates()

In [60]:
df_final = pd.merge(df,df_coordinates,on=['address'],how='left')

In [61]:
df_final.shape

(880072, 18)

In [64]:
df_final.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,block_num,address,full_address,Latitude,Longitude,dist_mrt,near_mrt
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076,1.027186,ANG MO KIO MRT STATION
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076,1.027186,ANG MO KIO MRT STATION
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076,1.027186,ANG MO KIO MRT STATION
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN,309,309 ANG MO KIO AVE 1 SINGAPORE,"Ang Mo Kio Avenue 1, Ang Mo Kio, Singapore, Ce...",1.364512,103.842076,1.027186,ANG MO KIO MRT STATION
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN,216,216 ANG MO KIO AVE 1 SINGAPORE,"216, Ang Mo Kio Avenue 1, Ang Mo Kio Grove, An...",1.366209,103.841476,0.989224,ANG MO KIO MRT STATION

In [66]:
df_final = df_final[['town',
                     'flat_type',
                     'flat_model',
                     'floor_area_sqm',
                     'resale_price',
                     'month',
                     'address',
                     'Latitude',
                     'Longitude',
                     'full_address',
                     'dist_mrt',
                     'near_mrt']]

In [67]:
df_final.to_csv('hdb_resale.csv',index=False)